/* ================= ROOT BACKGROUND ================= */
.root {
    -fx-background-color: #191f36; /* dark main background */
    -fx-background-image: url("/Resources/bg.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    -fx-font-family: "Verdana Bold";
    -fx-text-fill: white;
}

/* ================= STANDARD BUTTON ================= */
.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 12;
    -fx-font-family: "Avenir Book";
    -fx-cursor: hand;
    -fx-padding: 12 24 12 24;
}

/* Hover effect */
.button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

/* Pressed effect */
.button:pressed {
    -fx-background-color: rgba(255, 255, 255, 0.15);
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}
