/* ROOT BACKGROUND */
.root {
    -fx-background-color: #191f36; /* dark main background */
    -fx-background-image: url("file:/Resources/bgwhite.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

/* TABLE BUTTON STYLING */
.table-button {
-fx-background-radius: 100%;
-fx-pref-width: 80px;
-fx-pref-height: 80px;
-fx-font-size: 22px;
-fx-text-fill: black;
-fx-cursor: hand;
}


/* Available table = GREEN */
.available {
-fx-background-color: #3cb371; /* green */
}


/* Unavailable table = RED */
.unavailable {
-fx-background-color: #d9534f; /* red */
}


/* Hover */
.table-button:hover {
-fx-scale-x: 1.08;
-fx-scale-y: 1.08;
}


/* Pressed */
.table-button:pressed {
-fx-scale-x: 0.93;
-fx-scale-y: 0.93;
}
